$dark-blue: #0e5dae;
$gray: #999;
$green: #a0c323;
$light-green: #6c3;
$light: lighter;
$metlife-blue: #1a66b1;
$metlife-blue2: #0d7ec0;
$metlife-blue6: #0086e7;
$normal: normal;
$pink: #f6dee3;
$red: #eb4646;
$royal-blue: #2377c5;
$soft-gray: #ccc;
$strong-blue: #2377c5;
$transparent: transparent;
$very-dark-gray: #333;
$white: #fff;
